Ques 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a+2

In [2]:
b() # adding 2 in the value of a, a=0, 3 times function is runs therefore a=6
b()
b()
a

6

Ques 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [9]:
def fileLength(filename):
    try:
        f=open(filename, 'r')
        data = f.readlines()
        line = ""
        for i in data:
            line+=i
        result = len(line)
        return result
    except FileNotFoundError:
        return ("File {} is not found".format(filename))
print(fileLength('Assign 2.ipynb'))
print(fileLength('Assign 0.ipynb'))

0
File Assign 0.ipynb is not found

Ques 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [22]:
class Marsupial:
    def __init__(self):
        self.pouch=[]
    
    def put_in_pouch(self,item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        return "I am Kangaroo located at coords ("+str(self.x)+","+str(self.y)+")"
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am Kangaroo located at coords (0,0)
['doll', 'firetruck', 'kitten']
I am Kangaroo located at coords (3,0)

Ques 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [23]:
def main():
    collatz(10)
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        x = x/2
        collatz(x)
    else:
        print(x)
        x = 3*x + 1
        collatz(x)
if __name__ == "__main__":
    main()

10
5.0
16.0
8.0
4.0
2.0
1.0

Ques 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [24]:
def binary(x):
    a = str(x % 2)
    if x >> 1 >0:
        a += binary(x>>1)
    return a

In [25]:
binary(0)

'0'

Ques 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [28]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    headers = ['h1','h2','h3','h4','h5','h6']
    def handle_starting(self,tag,attrs):
        if tag in self.headers:
            print(tag)
    
    def handle_endtag(self,tag):
        if tag in self.headers:
            print(tag)
            
    def handle_data(self,data):
        print(data)
        

parser = HeadingParser()
infile = open ('C:\\Users\\Rohan\\Desktop\\Week 06\\w3c.html')
content = infile.read()
infile.close()
a = HeadingParser()
a.feed(content)

W3C Mission Summary






W3C Mission
h1



The W3C mission is to lead the World Wide Web to its full potential

by developing protocols and guidelines that ensure the long-term growth of the Web.



Principles
h2




Web for All


Web on Everything



See the complete
W3C Mission document
.

Ques 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [29]:
%load_ext sql
%sql sqlite://

In [31]:
%%sql
Create Table Weather
(
City Varchar(15), Country varchar(15), Season varchar(15), Temp float, Rainfall float
)

 * sqlite://
Done.

[]

In [33]:
%%sql
INSERT INTO Weather VALUES('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Fall',27.6,346),
('Mumbai','India','Summer',27.9,1549.4),
('London','UK','Winter',4.2,207.7),
('London','UK','Fall',10.4,218.5),
('London','UK','Summer',15.7,157),
('London','UK','Spring',20.7,6.5),
('Cairo','Egypt','Winter',13.6,16.5),
('Cairo','Egypt','Spring',20.7,6.5);

 * sqlite://
10 rows affected.

[]

In [34]:
%%sql
select * from Weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('London', 'UK', 'Winter', 4.2, 207.7),
 ('London', 'UK', 'Fall', 10.4, 218.5),
 ('London', 'UK', 'Summer', 15.7, 157.0),
 ('London', 'UK', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)]

In [36]:
%%sql
select Temp from Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.6,),
 (27.9,),
 (4.2,),
 (10.4,),
 (15.7,),
 (20.7,),
 (13.6,),
 (20.7,)]

In [37]:
%%sql
select distinct city from Weather

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [38]:
%%sql
select * from Weather where country == 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4)]

In [39]:
%%sql
select * from Weather where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'UK', 'Fall', 10.4, 218.5)]

In [40]:
%%sql
select city, country, season from Weather where rainfall between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'UK', 'Winter'),
 ('London', 'UK', 'Fall')]

In [42]:
%%sql
select city, country from Weather where season == 'Fall' and Temp > 20 order by Temp ASC;

 * sqlite://
Done.

[('Mumbai', 'India')]

In [43]:
%%sql
select sum(rainfall) AS total_annual_rainfall from Weather where city == 'Cairo';

 * sqlite://
Done.

[(23.0,)]

In [44]:
%%sql
select season, sum(rainfall) AS total_rainfall from Weather group by season;

 * sqlite://
Done.

[('Fall', 564.5), ('Spring', 29.2), ('Summer', 1706.4), ('Winter', 230.1)]

Ques 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [54]:
w = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([a.upper() for a in w])
print([a.lower() for a in w])

print([len(a) for a in w])
print([[a.upper(), a.lower(), len(a)]for a in w])
print([len(a)>=4 for a in w])
print([a for a in w if len(a)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
[False, True, True, False, True, True, False, True, False]
['quick', 'brown', 'jumps', 'over', 'lazy']

Ques 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [55]:
from urllib.request import urlopen
response = urlopen('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html')
print(type(response))
print(response.geturl())
for header in response.getheaders():
    print(header)
html = response.read()
print(type(html))
html=html.decode()
print(type(html))

HTTPError: HTTP Error 404:

In [1]:
#Please check my https://github.com/Rohanrs1996/RohanSharmaBDATPS1 for problem set 1, as it was the first assignment I have
#made few mistakes, first 5 questions are done on visual studio and code has been uploaded and last questions are done on
#jupyter notebook. Please mark the problem set1 this time, I will not repeat this mistake again.
#I have emailed you regarding the same, if you want I can copy paste the code and send it to you via jupyter notebook but right
#now I am not making any changes to that to make sure you don't believe I have made changes to my existing code of PS1.